
header{
    background-color: lightslategrey;
    border-radius: 10px; 
    max-width: 800px;
   
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;  
}
img{
 float: right;
 border-radius: 10px;
padding-left: 30%;
}
footer{
    background-color: lightslategrey;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    max-width: 790px;
}
